In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("data4_19.csv",header=None)
data.columns=['sepal_length','sepal_width','petal_length','petal_width','cluster']

In [3]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width      cluster
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [4]:
data.shape

(150, 5)

In [5]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
K=3
X=data.drop(['cluster'],axis=1).to_numpy()
m=X.shape[0]
cluster_nametocode={'Iris-setosa':0,'Iris-versicolor':1,'Iris-virginica':2}
cluster_codetoname={0:'Iris-setosa',1:'Iris-versicolor',2:'Iris-virginica'}
iterations=10
ground_truth={0:[],1:[],2:[]}
for i in range(m):
    ground_truth[cluster_nametocode[data.iloc[i,4]]].append(data.iloc[i,:-1].tolist())

In [46]:
def optimixation_objective(X,cluster,centroid):
    m=len(X)
    J=0
    for i in range(m):
            dist=np.linalg.norm(X[i]-centroid[cluster[i]])
            J+=(dist**2)
    J=(J/m)
    #print(J)
    return J

In [55]:
for r in range(50):
    min_J=np.inf
    idx=np.random.randint(m,size=3)
    centroid=X[idx,:]
    cluster=[-1 for i in range(m)]
    for i in range(iterations):
        cluster_group={0:[],1:[],2:[]}
        for j in range(m):
            min_dist=np.inf
            for k in range(K):
                dist=np.linalg.norm(centroid[k]-X[j])
                if(dist<min_dist): 
                    min_dist=dist
                    cluster[j]=k
            cluster_group[cluster[j]].append(X[j].tolist())

        for k in range(K):
            centroid[k]=np.array(cluster_group[k]).mean(axis=0)
        #cluster_group.clear()
    J=optimixation_objective(X,cluster,centroid)
    if(J<min_J): 
        min_J=J
        opt_cluster=cluster
        opt_centroid=centroid
        opt_cluster_group=cluster_group

/home/ayan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:18: RuntimeWarning: Mean of empty slice.

In [9]:
def Jaccard_dist(cluster_group,ground_truth):
    for k in range(K):
        intersection=[v for v in cluster_group[k] if v in ground_truth[k]]
        union=[v for v in cluster_group[k] if v not in ground_truth[k]]
        union=union+ground_truth[k]
        
        if(len(cluster_group[k])==0 and len(ground_truth[k])==0): Jaccard_index=1
        else: Jaccard_index=len(intersection)/len(union)
        Jaccard_distance=1-Jaccard_index
        
        print("Jaccard Distance of {} cluster: {}".format(cluster_codetoname[k],Jaccard_distance))

In [57]:
min_J

0.5262722761743066

In [56]:
Jaccard_dist(opt_cluster_group,ground_truth)

Jaccard Distance of Iris-setosa cluster: 0.0
Jaccard Distance of Iris-versicolor cluster: 0.9767441860465116
Jaccard Distance of Iris-virginica cluster: 0.8571428571428572

In [30]:
opt_centroid

array([[5.006     , 3.418     , 1.464     , 0.244     ],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097],
       [6.85      , 3.07368421, 5.74210526, 2.07105263]])

In [32]:
opt_cluster

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 1,
 2,
 1,
 2,
 2,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 2,
 2,
 1,
 2,
 2,
 1]